h1 User Register
form(method="POST", action="/users/UserRegister")
  label Account: 
    input(name="account")
    br
    label Password:
    input(name="password")
    br
    label Email:
    input(name="email")
    br
    input(type="submit", value="注册")
